<launch>
  <!--   TF configuation server (needed for every application)   -->
  <rosparam command="load" file="$(find rovi_master_teach)/demo_tf.yaml" />
  <node pkg="rovi_utils" type="config_tf.py" name="config_tf" output="screen" />
  <!--   psedo robot driver  -->
  <node pkg="tf" type="static_transform_publisher" name="" args="0.1 0.2 0 0 0 0 1 world wrist_2_link 1000" />

  <!--   PointCloud publisher from file. For testing   -->
  <node pkg="rovi_utils" type="filer.py" name="filer" args="wd:=$(find rovi_master_teach)">
    <remap from="~out/floats" to="/rovi/ps_floats" />
  </node>

  <!--   Main body of master teach   -->
  <rosparam command="load" file="$(find rovi_master_teach)/config.yaml" />
  <param name="/rovi/pshift_genpc/projector/Mode" type="int" value="1" />
  <param name="/rovi/live/camera/SoftwareTriggerRate" type="int" value="4" />

  <node pkg="rovi_utils" type="cropper.py" name="surface_cropper" output="screen">
    <remap from="~config" to="/config/cropper" />
    <remap from="~param" to="/cropper" />
    <remap from="~update" to="/update/cropper" />
    <remap from="~capture" to="/request/capture" />
    <remap from="~captured" to="/response/capture" />
    <remap from="~clear" to="/request/clear" />
    <remap from="~in/floats" to="/rovi/ps_floats" />
    <remap from="~out/floats" to="/scene/surface/floats" />
    <remap from="~raw/floats" to="/scene/surface/raw/floats" />
    <remap from="/rovi/X1" to="/filer/load" />
  </node>
  <node pkg="rovi_utils" type="searcher.py" name="" args="path:=$(find rovi_master_teach)/recipe" output="screen">
    <remap from="~config" to="/config/searcher" />
    <remap from="~param" to="/searcher" />
    <remap from="~in/surface/floats" to="/scene/surface/floats" />
    <remap from="~master/surface/floats" to="/master/surface/floats" />
    <remap from="~clear" to="/request/clear" />
    <remap from="~load" to="/request/model_load" />
    <remap from="~loaded" to="/response/model_load" />
    <remap from="~save" to="/request/model_save" />
    <remap from="~solve" to="/request/solve" />
    <remap from="~solved" to="/response/solve" />
  </node>

  <!--   PointColuds to show on RViz   -->
  <node pkg="rviz" type="rviz" name="" args="-d $(find rovi_master_teach)/main.rviz" />
  <node pkg="rovi" type="floats2pc" name="" args="camera/capture0">
    <remap from="floats" to="/scene/surface/floats" />
    <remap from="pc" to="/scene/surface/pc" />
  </node>
  <node pkg="rovi" type="floats2pc" name="" args="camera/capture0">
    <remap from="floats" to="/master/surface/floats" />
    <remap from="pc" to="/master/surface/pc" />
  </node>
  <node pkg="rovi" type="floats2pc" name="" args="camera/capture0/solve0">
    <remap from="floats" to="/master/surface/floats" />
    <remap from="pc" to="/master/surface/pc0" />
  </node>
  <node pkg="rovi" type="floats2pc" name="" args="camera/capture0/solve1">
    <remap from="floats" to="/master/surface/floats" />
    <remap from="pc" to="/master/surface/pc1" />
  </node>

  <!--   UI   -->
  <rosparam command="load" file="$(find rovi_master_teach)/panel.yaml" />
  <node pkg="rovi_utils" type="dashboard.py" name="" args="path:=$(find rovi_master_teach)" output="screen">
    <remap from="~config" to="/config/panel" />
    <remap from="~param" to="/panel" />
    <remap from="~load" to="/request/recipe_load" />
    <remap from="~loaded" to="/request/model_load" />
    <remap from="~failed" to="/response/recipe_load" />
  </node>
</launch>
