<launch>
  <!--   TF configuation server (needed for every application)   -->
  <rosparam command="load" file="$(find rovi_master_teach)/tf_config.yaml" />
  <node pkg="rovi_utils" type="tf_config.py" name="tf_config" />

  <!--   PointCloud publisher from file. For testing   -->
  <node pkg="rovi_utils" type="filer.py" name="filer" args="wd:=$(find rovi_utils)/searcher">
    <remap from="~out/floats" to="/rovi/ps_floats" />
  </node>

  <!--   Main body of master teach   -->
  <rosparam command="load" file="$(find rovi_master_teach)/config.yaml" />
  <rosparam command="load" file="$(find rovi_master_teach)/recipe/param.yaml" />
  <param name="/rovi/pshift_genpc/projector/Mode" type="int" value="1" />
  <param name="/rovi/live/camera/SoftwareTriggerRate" type="int" value="4" />

  <node pkg="rovi_utils" type="cropper.py" name="surface_cropper" output="screen">
    <remap from="~config" to="/config/cropper" />
    <remap from="~param" to="/cropper" />
    <remap from="~capture" to="/request/capture" />
    <remap from="~captured" to="/response/captured" />
    <remap from="~clear" to="/request/clear" />
    <remap from="~in/floats" to="/rovi/ps_floats" />
    <remap from="~out/floats" to="/scene/surface/floats" />
    <remap from="~update" to="/update/cropper" />
  </node>
  <node pkg="rovi_utils" type="searcher.py" name="" args="path:=$(find rovi_master_teach)/recipe" output="screen">
    <remap from="~config" to="/config/searcher" />
    <remap from="~param" to="/searcher" />
    <remap from="~in/surface/floats" to="/scene/surface/floats" />
    <remap from="~master/surface/floats" to="/master/surface/floats" />
    <remap from="~clear" to="/request/clear" />
    <remap from="~load" to="/request/model_load" />
    <remap from="~loaded" to="/request/model_loaded" />
    <remap from="~save" to="/request/model_save" />
    <remap from="~solve" to="/request/solve" />
    <remap from="~solved" to="/searcher/solved" />
    <remap from="~score" to="/searcher/score" />
  </node>
  <node pkg="rovi_utils" type="picker.py" name="" output="screen">
    <remap from="~config" to="/config/picker" />
    <remap from="~param" to="/picker" />
    <remap from="~clear" to="/request/clear" />
    <remap from="~solve" to="/searcher/solved" />
    <remap from="~score" to="/searcher/score" />
    <remap from="~solved" to="/response/solved" />
  </node>

  <!--   PointColuds to show on RViz   -->
  <node pkg="rviz" type="rviz" name="" args="-d $(find rovi_master_teach)/main.rviz" />
  <node pkg="rovi" type="param_watch.js" name="" args="/config/frame /update/frame" />
  <node pkg="rovi_utils" type="floats3pc" name="" args="camera/capture0 camera/capture0" output="screen" >
    <remap from="update" to="/update/frame" />
    <remap from="floats" to="/scene/surface/floats" />
    <remap from="pc" to="/scene/surface/pc" />
    <remap from="clear" to="/request/clear" />
  </node>
  <node pkg="rovi_utils" type="floats3pc" name="" args="camera/capture0 solve0" output="screen" >
    <remap from="update" to="/update/frame" />
    <remap from="floats" to="/master/surface/floats" />
    <remap from="pc" to="/master/surface/pc0" />
    <remap from="clear" to="/request/clear" />
  </node>
  <node pkg="rovi_utils" type="floats3pc" name="" args="camera/capture0 solve1" output="screen" >
    <remap from="update" to="/update/frame" />
    <remap from="floats" to="/master/surface/floats" />
    <remap from="pc" to="/master/surface/pc1" />
    <remap from="clear" to="/request/clear" />
  </node>

  <!--   Message logger  -->
  <node pkg="rovi_utils" type="tk_message.py" name="" args="/message /rovi/error" />

  <!--   UI   -->
  <node pkg="rqt_param_manager" type="rqt_param_manager" name="" args="conf:=$(find rovi_master_teach)/main.ui dump:=$(find rovi_master_teach)/recipe/param.yaml" />
</launch>
