tf_config:
  alias:
    flange: world
    mount: world
  mount:
    child_frame_id: camera
    transform:
      rotation:
        w: 1
        x: 0
        y: 0
        z: 0
      translation:
        x: 0
        y: 0
        z: 0
